src/main/java/com/hillel/language/basis18/schema.xsd

<?xml version="1.0" encoding="UTF-8"  ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="student">
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="birthdate" type="xs:date"/>
            </xs:all>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>